<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Tracker</title>
</head>
<script>
    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    var chat_socket = new WebSocket(ws_scheme + '://' + window.location.host + "/client/");

    console.log(chat_socket)
    chat_socket.onopen = function(e) {
        console.log(e)
        console.log('opened')
        var msg = {
            'type': 'websocket.message',
            'text': 'cool'
        }
        chat_socket.send(JSON.stringify(msg))
    };

    chat_socket.onmessage = function(message) {
        var data = JSON.parse(message.data);
        console.log(data)
        var msg =
            {
                'message': 'a'
            }
        chat_socket.send(JSON.stringify(msg))
    }
</script>
<body>
    <h1>Welcome to the Employee Tracker Software.</h1>
</body>
</html>